{{>header}}

{{#with file}}
    <p>id: {{id}}</p>
    <p>name {{name}}</p>
    <p>path: {{path}}</p>
    <p>size: {{size}}</p>
    <p>last modified date: {{lastModifiedDate}}</p>
    <p>type: {{type}}</p>
{{/with}}
